*{
    margin: 0px;
    padding: 0px;
}

.container{
    background-color: grey;
    border: 1px solid black;
    margin: 30px auto;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
}

